*.root
ROOTFILES/*.root
PiMinusMC/*.so
PiMinusMC/*.d
Data/*.so
Data/*.d
Data/*.gif
KaonMinusMC/*.so
KaonMinusMC/*.d
MuonMinusMC/*.so
MuonMinusMC/*.d
ElectronMinusMC/*.so
ElectronMinusMC/*.d
PhotonMC/*.so
PhotonMC/*.d
Step_01_NoCorrections/*.root
